
<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div *ngIf="documents">
  Content to render when condition is true.

  <ul>
      <li *ngFor="let document of documents">
        {{ document?._id }} <br>
        {{ document?.name }} <br>
        {{ document?.position }} <br>
        {{ document?.address }} <br>
        <a [routerLink]="" (click)="download(document)">download</a>
      </li>
  </ul>
</div>




<hr>


<h3>New Document</h3>

<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
    <label>
      Name:
      <input type="text" formControlName="name" required>
    </label>
  
    <label>
      Position:
      <input type="text" formControlName="position" required>
    </label>

    <label>
        Address:
        <input type="text" formControlName="address" required>
    </label>

    <button type="submit" [disabled]="!profileForm.valid">Submit</button>   
  
</form> -->

<form class="example-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="name" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Position" formControlName="position">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Address" formControlName="address">
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="!profileForm.valid">Submit</button>   

  </form>

</div>
<router-outlet></router-outlet>
